
<!DOCTYPE html>

<html lang="en">
<head>

    <title>Employee form</title>
    <style></style>
    <script></script>
   <link href="../Styles/styles.css" rel="stylesheet">
    <base>
    <meta name="description" content="This is the Employee Form of the copmayXXX"/>
    <meta name="keywords" content="Employee form,company XXX, employee, form,">
    <meta charset="UTF-8">
</head>
<body>
<article>
    <header>
        <h2>Please Fill The Employee Form</h2>
    </header>
    <section>
        <form>
            <!--First Name-->
            <label for="FirstName">First Nme:</label>
            <input type="text" id="FirstName" name="first name" placeholder="Enter your First Name">
            <!--last Name-->
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="Last Name" placeholder="Enter your Last Name">
            <!--Phone Number-->
            Phone Number:
            <input type="tel" name="Phone Number" placeholder="Enter your phone number">
            <!--Gender-->
            Gender:
            <input type="radio" name="gender" value="male" >Male
            <input type="radio" name="gender" value="female">Female

                <--Email Adress-->
                <label for="Email Address">Email Address:</label>
                <input type="text" id="Email Address" placeholder="Email Address">
                <!--Username-->
                <label for="User Name"> User Name</label>
                <input type="text" id="User Name" placeholder="User Name">
                <!--Password-->
                <label for="Password">Password:</label>
                <input type="password" id="Password" placeholder="Password">
                <!--confiem Password-->
                <label for="Confirm Password">Confirm Password</label>
                <input type="password" id="Confirm Password" placeholder="Confirm password">
                <!-- Create Button-->
                <input type="button" value="Create">
            <!--Checkbox-->
            Days worked<br>
            <input type="checkbox" Name="Days worked">

            <button type="submit" id="submit">Submit</button>
            <button type="reset" id="reset">Cancel</button>


        </form>

    </section>
</article>
</body>
</html>